<% flash.each do |type, msg| %>
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <p class="font-bold"><%= type.capitalize %></p>
    <p class="text-sm"><%= msg %></p>
  </div>
<% end %>
